<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'" lang="pt">
<head>
<title>Cadastro de Usuario</title>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Usuarios</h1>
			</div>
		</div>
		<div class="container-fluid">

			<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa  fa-exclamation-circle"></i> Já existe um cerveja com o nome informado.
			</div> -->

			<form method="post" class="form-vertical  js-form-loading">
				<div class="row">
					<div class="col-lg-12 col-md-12 form-group">
						<label for="input-usuario-nome">Nome</label> <input id="input-usuario-nome" type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 form-group">
						<label for="input-usuario-email">E-mail</label> <input id="input-usuario-email" type="text" class="form-control">
					</div>
					<div class="col-lg-2 col-md-2 form-group">
						<label for="input-usuario-data-nascimento">Data de Nascimento</label> <input id="input-usuario-data-nascimento" type="text"
							class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 form-group">
						<label for="input-usuario-senha">Senha</label> <input id="input-usuario-senha" type="password" class="form-control">
					</div>

					<div class="col-lg-3 col-md-3 form-group">
						<label for="input-usuario-confirmacao">Senha</label> <input id="input-usuario-confirmacao" type="password" class="form-control">
					</div>

					<div class="col-lg-3 col-md-3 form-group">
						<label class="control-label">Status</label>
						<div >
							<input type="checkbox" class="js-status" id="input-usuario-status" data-size="small" data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo"> 
							
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 form-group">
						<label class="control-label">Grupos</label>
						<div>
							<div class="form-check-input checkbox-inline">
								<input type="checkbox"> <label class="form-check-label">Administrador</label>
							</div>
							<div class="form-check-input checkbox-inline">
								<input type="checkbox"> <label class="form-check-label">Vendedor</label>
							</div>
						</div>
					</div>


				</div>

				<!-- offset-md-4 -->
				<div class="row">
					<label> </label>
				</div>
				<div class="row">
					<div class="col-lg-11 col-md-11"></div>

					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</div>
			</form>
		</div>

	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>

</body>
</html>