<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- Leia Flavio Campos - https://logging.apache.org/log4j/2.x/manual/customloglevels.html -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36}: %msg%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="com.algaworks.brewer.controller" level="trace"/>
	
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>